{% extends "base/base.html" %}

{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li><a href="{% url "degree-list" %}">Degrees</a></li>
<li class="active">Courses</li>
{% endblock %}

{% block body-title %}{{ degree.name }}{% endblock %}

{% block body-text %}
<table class="table">
        <thead>
                <th>Name</th>
		<th>Actions</th>
        </thead>
        <tbody>
                {% for course in object_list %}
                <tr>
                        <td><a href="{% url "section-list" course_pk=course.pk degree_pk=degree.pk %}">{{ course.name }}</a></td>
			<td><a href="{% url "test" course_pk=course.pk degree_pk=degree.pk %}">Test</a></td>
		 </tr>
                {% endfor %}
        </tbody>
</table>
{% endblock %}
