{% extends 'base/base.html' %}

{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li><a href="{% url "degree-list" %}">Degrees</a></li>
<li><a href="{% url "course-list" pk=course.degree.pk %}">Courses</a></li>
<li class="active">Test</li>
{% endblock %}

{% block body-title %}
{{ course.name }} Test
{% endblock %}

{% block body-text %}
{% if object_list %}
<div class="test-questions">
<form method="post">{% csrf_token %}
{% for question in object_list %}
	{{ forloop.counter }}.&nbsp;{{ question.question|linebreaksbr }}<br>
	<input type="radio" name="question_{{ question.pk }}" value="A">&nbsp;{{ question.answer_a }}</input>
        <br>
	<input type="radio" name="question_{{ question.pk }}" value="B">&nbsp;{{ question.answer_b }}</input>
        <br>
	<input type="radio" name="question_{{ question.pk }}" value="C">&nbsp;{{ question.answer_c }}</input>
        <br>
	<input type="radio" name="question_{{ question.pk }}" value="D">&nbsp;{{ question.answer_d }}</input>
	<br>
	<br>
{% endfor %}
<div class="actions">
    <button type="submit" class="btn primary">Submit</button>
</div>
</form>
</div>
{% endif %}
{% endblock %}
