{% extends "base/base.html" %}

{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li><a href="{% url "degree-list" %}">Degrees</a></li>
<li><a href="{% url "course-list" pk=degree.pk %}">Courses</a></li>
<li class="active">Sections</li>
{% endblock %}

{% block body-title %}{{ degree.name }} - {{ course.name }}{% endblock %}

{% block body-text %}
<table class="table">
        <thead>
                <th>Name</th>
        </thead>
        <tbody>
                {% for section in object_list %}
                <tr>
                        <td><a href="{% url "section-detail" degree_pk=degree.pk course_pk=course.pk section_pk=section.pk %}">{{ section.name }}</a></td>
                </tr>
                {% endfor %}
        </tbody>
</table>
{% endblock %}
