{% load staticfiles menu_tags cms_tags sekizai_tags %}

<html>

<head>
<link rel="shortcut icon" href="{% static "seminary/images/icon.ico" %}"/>
<title>{% block head-title %}Free Christian Seminary{% endblock %}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

<link rel="stylesheet" href="{% static "seminary/css/base.css" %}">
{% render_block "css" %}
</head>
<body>
  {% cms_toolbar %}
   <div class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation">
     {% show_menu 0 3 10 10 %}
   </div>
   {% block messages %}
     {% if messages %}
       <div class="modal fade">
         <div class="modal-dialog">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Alert</h4>
             </div>
             <div class="modal-body">
               {% for message in messages %}
                 <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
                   {{ message }}
                 </div>
               {% endfor %}
             </div>
           </div>
         </div>
       </div>
     {% endif %}
   {% endblock %}
   <div class="container main-container">
   <div class="row">
    <div class="col-md-10 main-column">
      <div class="main-content">
          {% block breadcrumbs %}{% endblock %}
        <h1>{% block body-title %}{% placeholder title %}{% endblock %}</h1>
        <div>{% block body-text %}{% placeholder content %}{% endblock %}</div>
      </div>
    </div>
  </div>
  </div>
  {% block lower-content %}
    {% placeholder lower-content %}
  {% endblock %}
  <div class="footer">
    &copy; {% now "Y" %} <a href="http://freechristianseminary.com">Free Christian Seminary</a>
    <br><br>
  </div>
{% render_block "js" %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49916117-1', 'freechristianseminary.com');
  ga('send', 'pageview');

</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>

</html>
