{% load staticfiles menu_tags cms_tags sekizai_tags %}

<html>

<head>
<title>{% block head-title %}Free Christian Seminary{% endblock %}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

<link rel="stylesheet" href="{% static "seminary/css/base.css" %}">
{% render_block "css" %}
</head>
<body>
  {% cms_toolbar %}
   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
     {% show_menu 0 3 10 10 %}
   </div>
   <div class="container">
      <ol class="breadcrumb">
        {% block breadcrumbs %}{% endblock %}
      </ol>
   <div class="row">
    <div class="{% block left-colum-class %}col-md-12{% endblock %}">
      <div class="main-content">
        <div class="username">
          {% if request.user.is_authenticated %}
            <h5>{{ request.user.username }}</h5>
          {% endif %}
        </div>
        <h1>{% block body-title %}{% placeholder title %}{% endblock %}</h1>
        <div>{% block body-text %}{% placeholder content %}{% endblock %}</div>
      </div>
    </div>
    <div class="col-md-3">
	{% block right-column %}{% endblock %}
    </div>
  </div>
  </div>

{% render_block "js" %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>

</html>
